
# Ignore generated stuff

/.bsp
/target
*/target
*/project/target
*/project/project/target
*/logs

/generate/docs/target
/generate/docs/lib/*.jar
/generate/scalqa/target
/generate/scalqa/src
/generate/scalqa/sonatype-staging

/core/src/scalqa/Test*.scala
/core/src/scalqa/Example*.scala

*.zip
*.tasty
*.class
*.log

