
# Ignore generated stuff

*/target
/target
*/project/target
*/project/project/target
*/logs

/merge/doc/target
/merge/doc/lib
/merge/release

/core/src/scalqa/Test*.scala

*.zip
*.tasty
*.class
*.log

